<h1>Stupid Coaching</h1>
<p>
  <ul style="list-style-type: none;">
    <li><%=  @question %></li>
    <li><em>-- You</li></em>
    <br>
    <li><%= @answer %></li>
    <li><em>-- Your coach</em></li>
    <br>
    <li><%= link_to "ask a new question", ask_path %></li>
  </ul>
</p>




